.node-card-container {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.node {
  padding: 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 82px;
  background-color: white;
}
.ellipse {
  border-radius: 100px;
  border: 2px solid black;
}

.rectangle {
  border: 2px solid black;
}
.rhombus {
  background-color: transparent;
  background-image: url("/public/rect.svg");
  background-position: center;
  background-size: cover;
}

.rectSections {
  background-color: transparent;
  background-image: url("/public/rectLines.svg");
  background-position: center;
  background-size: cover;
}

.parallelogram {
  background-color: transparent;
  background-image: url("/public/parallelogram.png");
  background-position: center;
  background-size: cover;
}

.sixCorn {
  background-color: transparent;
  background-image: url("/public/sixCorn.png");
  background-position: center;
  background-size: cover;
}
