.main-style {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.main-style-edit {
  border: 2px solid #1976D2;
  border-radius: 8px;
  outline: none;
}
.nodeInput {
  width: 70%;
}
